<h1>Create database dump</h1>

<p>Click the button below to create and download a complete database dump in SQL format.</p>

<%= form_tag %>
	<div class="buttons">
		<input type="submit" value="Dump Database"/>
	</div>
</form>