<h1>Import Assignments</h1>

<p>This action will delete all assignments and then reimport them from the form below. It is not reversible!</p>

<%= form_tag %>
	<textarea name="assignments" class="export"></textarea>
	<div class="buttons">
		<input type="submit" value="Import"/>
	</div>
</form>