<h1>Import Tasks</h1>

<p>This action will add the given tasks to the conference. It is not reversible!</p>

<%= form_tag %>
	<textarea name="tasks" class="export"></textarea>
	<div class="buttons">
		<input type="submit" value="Import"/>
	</div>
</form>