<h1>Conference Lottery</h1>

<p>
	The conference lottery randomly picks an enrolled user and assigns the next lottery number to him/her.
 	Stops when all enrolled users were given a number.
	It should be run only once - next iteration will have no effect!
</p>

<% if @conference.lottery_run? -%>
	<p>
		The lottery should only be run while the conference is in enrollment phase.
		Several executions will have no effect.
	</p>
<% end -%>

<div id="lottery">
	<input type="button" class="button" value="Run Lottery" onclick="<%= remote_function :url => {},
		:update => 'lottery', :loading => "$('lottery').innerHTML = 'Lottery is running...'" %>">
</div>