<h1>Admin Users</h1>

<table>
	<tr>
		<th>Login</th>
		<th>Status</th>
		<th>Conference</th>
	</tr>
<% @admin_users.each do |admin_user| -%>
	<tr>
		<td><%= admin_user.login %></td>
		<td><%= admin_user.status_name %></td>
		<td><%= admin_user.conference ? admin_user.conference.name : 'none' %></td>
	</tr>
<% end -%>
</table>
		