<h1>Conference Enrollment</h1>

<p>Are you sure you want to unenroll from <%= @conference %> and give up your spot?</p>

<%= button_to 'Yes, unenroll me', {:action => 'unenroll'}, :class => 'button' %>