	<div class="box">
		<div class="title">Assignments</div>
<% @conference.days.each do |day| -%>
		<p class="right"><%= day.tasks_count %></p>
		<%= selectable_link_to day, day == @day, :action => 'index', :id => day.id %>
<% end -%>
	</div>
	
	<div class="box">
		<div class="title">Actions</div>
<% if @day and @day.id > 0 -%>
		<%= selectable_link_to 'Run Auction', params[:action] == 'auction', :action => 'auction', :id => @day.id %>
<% else -%>
		<p class="disabled">Run Auction</p>
<% end -%>
	</div>
	
	<div class="box">
		<div class="title">Search</div>
		<%= search_input params[:search], 'main' %>
	</div>