<h1>Request new password</h1>

<p>The system will send information on how to change your password to the email address you can specify below. You have to enter the address assigned to your user account.</p>

<% if @error -%>
<div id="error"><%= @error %></div>
<% end -%>

<div class="form">
<%= form_tag 'password_request' %>
	<label for='email'>Email:</label>
	<%= text_field_tag 'email', params[:email] %><br/>
	<%= submit_tag 'Recover password', :class => 'button' %>
</form>
</div>