<h1>Student Volunteer Sign-up Form</h1>

Thank you for signing up to become a student volunteer. You are now logged in and can <%= link_to 'enroll', :controller => 'enrollment', :action => 'enroll' %> in <%= @conference %>.